//Schrift
@font-face {
  font-family: 'DGUV';
  src: url("~@/theme/DGUVMeta-Normal.woff") format("woff");
  src: url("~@/theme/DGUVMeta-Normal.otf") format("opentype");
}


//root stuff
body {
  font-family: "DGUV", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #3c3c3c;

  @include media-breakpoint-up(lg){
    background-color: #e1e1e1;
  }
}
.main {
  background-color: white;
  max-width: $maxContentWidth;
}


//Navbar
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler-icon {
  background-image: url("~@/theme/justify.svg") !important;
  width: 1.5rem;
  height: 1.5rem;
}

#top {
  background-color: white !important;
  box-shadow: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  @extend .navbar-light;
}


//Formtheming

//  General Inputs
input {
  padding: 12px !important;
  height: 48px !important;
}

.vjf_wrap {
  @extend .pl-1;
  @extend .pr-1;
}

.vjf_group {
  @extend .mb-5
}

.vjf_control {
  @extend .mt-5
}

.vjf_control label {
  color: $primary-light;
  font-weight: bold;
}

.vjf_control * {
  color: $black;
  font-weight: normal;
}

//Checkboxes und Radiobuttons

.custom-control {
  min-height: $custom-control-indicator-size+0.4rem;
  margin-top: 0.3rem;
}

//Farbe
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $primary-light !important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem $primary
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #7c9bb8;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $primary-light !important;
}

.custom-radio .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem $primary
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
  background-color: #7c9bb8;
}


//  Datetime
.vjf_datetime [type=date] {
  max-width: 48%;
  width: 48%;
  margin-right: 2%;
}

.vjf_datetime .input-group-append {
  max-width: 48%;
  width: 48%;
  margin-left: 2%;
}

//Kopffragen
.greyBackground {
  @extend .p-3;
  @extend .pt-4;
  @extend .pb-4;
  @extend .ml-n4;
  @extend .mr-n4;
  @extend .mb-4;

  label {
    color: $black;
    font-weight: 300;
  }
}

//Groups
.vjf_group {
  border: 1px solid #ededed;

  legend {
    @extend .p-3;
    background-color: whitesmoke;
    font-size: 16px;
    line-height: 1.45em;
  }

  > div{
    @extend .p-3;
  }
}

//Erster in einem horizontal layout soll einen geringeren Top Margin haben
.vjf_horizontal > div:first-of-type > div > .vjf_control{
  @extend .mt-2;
}

//Sidebar
//Divider off
.sidebarHead {
  @extend .pt-3;
  border-bottom-style: none !important;
  background-color: #f8f9fa !important;
}

// item styling
.cust {
  @extend .ml-n2;
  @extend .mr-n1;
  color: $primary;
}

.collapse .cust {
  @extend .pl-4;
  @extend .pr-4;
}

.sidebarSymbolParent {
  @extend .pl-3;
}


//Ueberschriften Groessen
@include media-breakpoint-up(lg){
  h2 {
    font-size: 50px;
    line-height: 60px;
  }
}
@include media-breakpoint-up(md){
  h2 {
    font-size: 42px;
  }
}

//Scrollbar Farbe
::-webkit-scrollbar-thumb {
  background: $primary-light !important;
}

// Divider zwischen Ueberschrift und Formular deaktiviert
#formHead hr {
  visibility: hidden;
}
