div:not(.form-floating) > input:not([type=range]) {

  padding: 12px !important;

}

input:not([type=range]):not(.form-check-input):not([type=checkbox]):not([type=radio]) {
  height: 48px !important;
}

.form-check-input {
  margin-top: 0 !important;
  margin-right: 5px;
}

.vjf_wrap {
  @extend .px-1;
}

.vjf_group {
  @extend .mb-5
}

.vjf_control {
  @extend .mt-5
}

.vjf_control label {
  color: $primary-light;
  font-weight: bold;
}

.vjf_control * {
  color: $black;
  font-weight: normal;
}

//Erster in einem horizontal layout soll einen geringeren Top Margin haben
.vjf_horizontal > div:first-of-type > div > .vjf_control {
  @extend .mt-2;
}


// Divider zwischen Ueberschrift und Formular deaktiviert
#formHead hr {
  visibility: hidden;
}
