//Navbar
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler-icon {
  background-image: url("/src/theme/justify.svg") !important;
  width: 1.5rem;
  height: 1.5rem;
}

#top {
  background-color: white !important;
  box-shadow: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  @extend .navbar-light;
}

#menueicon {
  p {
    display: block !important;
  }
}
