//Sidebar

  //Divider off
.sidebarHead {
  @extend .pt-3;
  border-bottom-style: none !important;
  background-color: #f8f9fa !important;
}

  // item styling
.cust {
  @extend .ml-n2;
  @extend .mr-n1;
  color: $primary;
}
.collapse .cust {
  @extend .pl-4;
  @extend .pr-4;
}
.sidebarSymbolParent {
  @extend .pl-3;
}
