//Sidebar

  //Divider off
.sidebarHead {
  @extend .pt-3;
  border-bottom-style: none !important;
  background-color: #f8f9fa !important;
}

  // item styling
.cust {
  @extend .ms-n2;
  @extend .me-n1;
  color: $primary;
}
.collapse .cust {
  @extend .px-4;
  h6 {
    font-weight: normal;
  }
}
.sidebarSymbolParent {
  @extend .ps-3;
}
